.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8rem;

}


.blue {
    color: blue;
}

.red{
    color: red;
}

.orange {
    color: orange;
}

.green{
    color: green;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font: size 8px;
    margin: 1 10px;
}
