.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8rem;

}

.header-left {
    display: flex;
    flex-direction:  row;
    justify-content: left;
    
}
.header-left a {
    margin-left: 10px;
}
.header-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.header-right a {
    margin-right: 10px;
}
.blue {
    color: blue;
}

.red{
    color: red;
}

.orange {
    color: orange;
}

.green{
    color: green;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.btn {
    margin: 10px;
    
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
    
}